@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.hero {
    background-color: #1f2937;
    padding: 15px 15vw 100px;
}

.header, .main, .left-main {
    display: flex;
    justify-content: space-between;
}

.header {
    align-items: center;
    margin-bottom: 70px;
}

.header ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.header h1, .main h1, .main button {
    color: #f9faf8;
}

.header h1 {
    font-family: 'Abril Fatface', cursive;
    margin: 0;
    font-size: 24px;
}

.left-main {
    width: 50%;
    flex-direction: column;
}

.main h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
}

.main p {
    font-size: 18px;
    color: #e5e7eb;   
}

.main button {
    width: 150px;
    background-color: #3882f6;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.main img {
    height: 300px;
}