@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.hero {
    background-color: #1f2937;
    padding: 15px 15vw 100px;
}

.header,
.main,
.left-main {
    display: flex;
    justify-content: space-between;
}

.header {
    align-items: center;
    margin-bottom: 70px;
}

.header ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.header h1,
.main h1,
.main button {
    color: #f9faf8;
}

.header h1 {
    font-family: 'Abril Fatface', cursive;
    margin: 0;
    font-size: 24px;
}

.left-main {
    width: 50%;
    flex-direction: column;
}

.main h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
}

.main p {
    font-size: 18px;
    color: #e5e7eb;
}

.main button {
    width: 150px;
    background-color: #3882f6;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.main img {
    height: 300px;
}

.drinks-showcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15vw;
    margin-bottom: 100px;
}

.drinks-showcase h2 {
    margin: 50px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.drinks-showcase img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 5px solid #3882f6;
}

.drinks-cards {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 40px;
    color: #1f2937;;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 50px 25vw;
}

.quote p {
    font-size: 30px;
    color: #1f2937;
    font-weight: lighter;
    font-style: italic;
}

.quote span {
    font-size: 18px;
    align-self: flex-end;
    color: #1f2937;
    font-weight: bold;
}

.cta-container {
    padding: 50px 15vw;
}

.cta {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    padding: 30px 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta span {
    font-weight: bold;
}

.cta p {
    margin: 0;
}

button#cta {
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid #f9faf8;  
    border-radius: 5px;

    padding: 5px 20px;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 20px 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    margin: 0;
}